*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }
  @media only screen and (max-width: 87.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 78em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 63.75em) {
    html {
      font-size: 46%; } }
  @media only screen and (max-width: 57.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 32em) {
    html {
      font-size: 46.75%; } }

body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  height: 100vh; }

.main-section {
  display: flex;
  width: 100%;
  height: 100vh; }
  @media only screen and (max-width: 43.75em) {
    .main-section {
      display: block;
      position: relative; } }

.main-container {
  display: grid;
  grid-template-columns: 1.5fr 5.5fr;
  width: 30%;
  grid-template-rows: 9rem 1fr; }
  @media only screen and (max-width: 57.5em) {
    .main-container {
      width: 40rem; } }
  @media only screen and (max-width: 43.75em) {
    .main-container {
      grid-template-columns: 9rem 1fr;
      width: 100%; } }

.project {
  width: 100%;
  display: grid;
  grid-template-columns: 1.3fr 1fr; }
  @media only screen and (max-width: 78em) {
    .project {
      grid-template-columns: 1.5fr 1fr; } }
  @media only screen and (max-width: 57.5em) {
    .project {
      height: 100vh;
      overflow-y: scroll;
      display: block; } }
  @media only screen and (max-width: 43.75em) {
    .project {
      overflow-y: initial; } }

.grid {
  display: grid; }

.grid-col-2 {
  display: grid;
  grid-template-columns: 1.5fr 1fr; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.hidden {
  display: none; }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-bottom: 2.4rem; }
  .sidebar-logo {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(17, 17, 17, 0.2);
    background-color: #fff; }
    @media only screen and (max-width: 43.75em) {
      .sidebar-logo {
        z-index: 435;
        position: fixed;
        top: 0;
        width: 9rem;
        height: 9rem;
        left: 0; } }
    .sidebar-logo-main {
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 25px;
      border: 2px solid; }
      .sidebar-logo-main > p {
        font-size: 5.2rem;
        transform-origin: center;
        transform: rotate(67deg) translate(-6px, 4px);
        font-weight: 300; }
  .sidebar-link {
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 2.4rem; }
    @media only screen and (max-width: 43.75em) {
      .sidebar-link {
        position: absolute;
        width: 40%;
        height: 100vh;
        z-index: 23;
        top: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        background-color: #fff;
        transform: translateX(100%);
        transition: transform 0.5s;
        border: 1px solid rgba(17, 17, 17, 0.13); } }
    @media only screen and (max-width: 32em) {
      .sidebar-link {
        width: 60%; } }
    .sidebar-link-show {
      opacity: 100;
      visibility: visible;
      z-index: 3000;
      pointer-events: all;
      transform: translateX(0%);
      transition: transform 0.5s;
      align-items: center; }
      @media only screen and (max-width: 43.75em) {
        .sidebar-link-show {
          position: fixed;
          right: 0; } }
  .sidebar-list {
    width: 100%;
    flex-direction: column;
    list-style: none;
    margin-top: 6.2rem;
    position: relative; }
    @media only screen and (max-width: 43.75em) {
      .sidebar-list {
        gap: 1.2rem; } }
  .sidebar-close {
    display: none;
    position: absolute;
    top: -4.6rem;
    left: 1.4rem;
    width: 2.8rem;
    height: 2.8rem;
    background: #fff1d7;
    padding: 0.8rem;
    border-radius: 45px; }
    @media only screen and (max-width: 43.75em) {
      .sidebar-close {
        display: block; } }
  .sidebar-item {
    width: 100%;
    cursor: pointer;
    height: max-content;
    padding: 2.2rem;
    text-align: center;
    width: 100%; }
    @media only screen and (max-width: 43.75em) {
      .sidebar-item {
        padding: 1.8rem;
        display: flex;
        flex-direction: column;
        border-radius: 50px;
        width: fit-content; } }
    .sidebar-item:hover {
      background-color: #fff1d7; }
      .sidebar-item:hover > ion-icon {
        opacity: 1; }
    .sidebar-item ion-icon {
      width: 2.4rem;
      height: 2.4rem;
      opacity: 0.7; }
  .sidebar-item-active {
    background-color: #fff1d7; }
    @media only screen and (max-width: 43.75em) {
      .sidebar-item-active {
        background-color: transparent; } }
    .sidebar-item-active > ion-icon {
      opacity: 1; }
      @media only screen and (max-width: 43.75em) {
        .sidebar-item-active > ion-icon {
          opacity: 0.7; } }
  .sidebar-question {
    background-color: #111;
    width: 4rem;
    height: 4rem;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s; }
    .sidebar-question:hover {
      background-color: rgba(17, 17, 17, 0.8); }
    .sidebar-question > ion-icon {
      width: 1.8rem;
      height: 1.8rem;
      color: #fff; }

.site {
  background-color: #fff1d7;
  border-bottom: 1px solid rgba(17, 17, 17, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.8rem;
  height: 100%; }
  @media only screen and (max-width: 43.75em) {
    .site {
      z-index: 435;
      position: fixed;
      top: 0;
      width: auto;
      height: 9rem;
      right: 0;
      left: 9rem; } }
  .site-title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.4; }
  .site-close {
    display: none;
    width: 2.4rem;
    height: 2.4rem; }
    @media only screen and (max-width: 43.75em) {
      .site-close {
        display: block; } }
  .site-txt {
    font-size: 1.2rem;
    font-weight: 600; }

.dropdown {
  background-color: #fff1d7;
  padding: 2.4rem;
  position: relative; }
  .dropdown-close {
    position: absolute;
    top: 1.4rem;
    left: 1.4rem;
    display: none;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: inherit;
    border-radius: 7px;
    outline: none;
    border: none;
    gap: 0.4rem;
    width: 6.4rem;
    background: transparent; }
    @media only screen and (max-width: 43.75em) {
      .dropdown-close {
        display: flex;
        align-items: center; } }
  @media only screen and (max-width: 43.75em) {
    .dropdown {
      position: absolute;
      width: 40%;
      z-index: 23;
      height: 100vh;
      top: 0rem;
      right: 0%;
      background-color: #fff1d7;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateX(100%);
      transition: transform 0.5s;
      display: inline-block;
      border-left: 1px solid rgba(17, 17, 17, 0.13); } }
  @media only screen and (max-width: 32em) {
    .dropdown {
      width: 60%; } }
  .dropdown-show {
    opacity: 100;
    visibility: visible;
    pointer-events: all;
    transform: translateX(0%);
    transition: transform 0.5s;
    z-index: 9999; }
    @media only screen and (max-width: 43.75em) {
      .dropdown-show {
        position: fixed;
        right: 0; } }
  .dropdown-main {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    list-style: none; }
    @media only screen and (max-width: 43.75em) {
      .dropdown-main {
        margin-top: 3.4rem; } }
  .dropdown .hidden {
    display: none; }
  .dropdown-item {
    font-size: 1.5rem;
    font-weight: 700; }
    .dropdown-item-active .dropdown-item-main > ion-icon {
      transform: rotate(90deg); }
    .dropdown-item-active .hidden {
      display: flex; }
    .dropdown-item-main {
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: space-between; }
      .dropdown-item-main > ion-icon {
        width: 1.6rem;
        height: 1.6rem; }
  .dropdown-submenu {
    margin-top: 1.2rem;
    list-style: none;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .dropdown-subitem {
    font-size: 1.3rem;
    font-weight: 400;
    font-weight: 500;
    color: rgba(17, 17, 17, 0.8);
    cursor: pointer; }
    .dropdown-subitem:hover {
      color: #111; }
    .dropdown-subitem-active {
      font-weight: 700; }

.project-main-search {
  padding: 2.8rem 3.2rem 0; }
  @media only screen and (max-width: 78em) {
    .project-main-search {
      padding: 2.6rem 2.6rem 0; } }
  @media only screen and (max-width: 32em) {
    .project-main-search {
      padding: 2rem 2rem 0; } }
  .project-main-search .heading-1 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 57.5em) {
      .project-main-search .heading-1 {
        margin-bottom: 1rem; } }
  .project-main-search .project-search {
    position: relative; }
    .project-main-search .project-search input {
      width: 100%;
      font-size: 1.4rem;
      border-radius: 45px;
      padding: 1.2rem 4rem;
      outline: none;
      border: 1.5px solid rgba(17, 17, 17, 0.25);
      border-image: initial; }
      .project-main-search .project-search input[type="text"] {
        padding-left: 4rem;
        opacity: .5; }
    .project-main-search .project-search ion-icon {
      position: absolute;
      top: 1.25rem;
      left: 1.5rem;
      width: 1.7rem;
      height: 1.7rem;
      opacity: .3; }

.part-3 {
  height: calc(100vh - 12rem);
  padding: 3.2rem;
  overflow-y: scroll; }
  .part-3::-webkit-scrollbar {
    width: 0; }
  @media only screen and (max-width: 78em) {
    .part-3 {
      padding: 2.6rem; } }
  @media only screen and (max-width: 57.5em) {
    .part-3 {
      height: fit-content; } }
  @media only screen and (max-width: 32em) {
    .part-3 {
      padding: 2rem; } }

.recent-project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.7rem; }
  .recent-project-head {
    font-size: 1.8rem; }
  .recent-project-btn {
    text-decoration: none;
    color: #f0894d;
    font-size: 1.4rem;
    padding-bottom: .06rem;
    font-weight: 500; }
    .recent-project-btn:hover {
      border-bottom: 0.15rem solid #f0894d; }

.project-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 78em) {
    .project-cards {
      grid-column-gap: 2.6rem; } }
  @media only screen and (max-width: 32em) {
    .project-cards {
      grid-column-gap: 1.8rem; } }
  .project-cards-card {
    background-color: #ff9a60;
    height: 35rem;
    border-radius: 5%;
    padding: 3.2rem 2.8rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s; }
    @media only screen and (max-width: 32em) {
      .project-cards-card {
        height: 32rem; } }
    .project-cards-card .gallery {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2.4rem; }
      .project-cards-card .gallery-img {
        display: flex; }
        .project-cards-card .gallery-img-item {
          width: 3.8rem;
          height: 3.8rem;
          border-radius: 25px;
          position: relative;
          border: 2px solid #ff9a60;
          cursor: pointer;
          object-fit: cover; }
          .project-cards-card .gallery-img-item-2 {
            border: 2px solid #ffff8b; }
            .project-cards-card .gallery-img-item-2:first-child {
              background-color: #ffff8b;
              color: #000;
              border: .2rem solid #000; }
        .project-cards-card .gallery-img span {
          background-color: #000;
          font-size: 1.2rem;
          z-index: 4;
          font-weight: 500;
          color: #fff; }
        .project-cards-card .gallery-img-item:nth-child(2) {
          z-index: 3;
          transform: translateX(-1.5rem); }
        .project-cards-card .gallery-img-item:nth-child(3) {
          z-index: 2;
          transform: translateX(-3rem); }
      .project-cards-card .gallery .dots {
        width: 0.55rem;
        height: 0.55rem;
        border-radius: 50%;
        background-color: #000;
        position: relative;
        transform: translateY(0.6rem) rotate(90deg);
        cursor: pointer; }
        .project-cards-card .gallery .dots::before {
          content: "";
          right: -1.2rem;
          position: absolute;
          display: block;
          width: 0.55rem;
          height: 0.55rem;
          border-radius: 50%;
          background-color: #000; }
    .project-cards-card .title {
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 2rem; }
      @media only screen and (max-width: 32em) {
        .project-cards-card .title {
          font-size: 1.9rem; } }
    .project-cards-card .time {
      font-size: 1.3rem;
      font-weight: 500; }
      @media only screen and (max-width: 32em) {
        .project-cards-card .time {
          font-size: 1.1rem; } }
    .project-cards-card-progress {
      position: absolute;
      padding: 3.2rem 2.8rem;
      left: 0;
      bottom: 0;
      width: 100%; }
      .project-cards-card-progress-text {
        font-size: 1.2rem;
        font-weight: 500; }
      .project-cards-card-progress-line {
        width: 100%;
        height: 0.5rem;
        margin: 1rem 0;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.12);
        position: relative; }
        .project-cards-card-progress-line::after {
          content: "";
          position: absolute;
          width: 40%;
          display: block;
          top: 0;
          left: 0;
          height: 0.6rem;
          border-radius: 10px;
          background-color: #000; }
        .project-cards-card-progress-line-2::after {
          width: 75%; }
    .project-cards-card-2 {
      background-color: #ffff8b; }
    .project-cards-card:hover {
      transform: scale(1.02);
      box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.05); }

.reminder-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem; }

.info {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2rem 2.8rem;
  border-radius: 1.5rem; }
  .info-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem; }
    .info-r-t p {
      font-size: 1.1rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.9);
      margin-bottom: .5rem; }
    .info-r-t h1 {
      width: 60%;
      font-size: 1.6rem;
      line-height: 1.2; }
    .info-r-btn button {
      padding: 0.8rem 1.6rem;
      border: 2px dashed #fce6bd;
      background-color: #fff;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.9);
      font-size: 1.2rem;
      border-radius: 2.5rem;
      cursor: pointer; }
  .info-dot {
    display: flex;
    justify-content: center; }
    .info-dot span {
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      background-color: #fce6bd;
      position: relative;
      transform: translateY(0.6rem) rotate(90deg);
      cursor: pointer; }
      .info-dot span::after, .info-dot span::before {
        content: "";
        position: absolute;
        cursor: pointer;
        display: block;
        width: 0.6rem;
        bottom: 1.2rem;
        height: 0.6rem;
        border-radius: 25px;
        background-color: #fce6bd; }
      .info-dot span::before {
        top: 1.2rem;
        background-color: #f0894d; }

.project-add-profile {
  padding: 2.8rem 3.2rem 0;
  box-shadow: -0.8rem -0.2rem 0.8rem rgba(0, 0, 0, 0.03); }
  @media only screen and (max-width: 57.5em) {
    .project-add-profile {
      padding-top: 2.2rem; } }
  @media only screen and (max-width: 32em) {
    .project-add-profile {
      padding: 2rem;
      padding: 2rem 2rem 1rem; } }
  .project-add-profile .menu-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 3.5rem;
    position: relative;
    margin-bottom: 1rem; }
    .project-add-profile .menu-icon ion-icon {
      width: 6rem;
      height: 100%;
      fill: #f0894d;
      opacity: .7;
      cursor: pointer;
      position: absolute;
      right: -1.5rem; }

.profile-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .profile-user-btn {
    font-family: inherit;
    cursor: pointer;
    height: fit-content;
    background-color: #f0894d;
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    border-radius: 25px;
    padding: 1.2rem 3.2rem;
    outline: none;
    border: none; }
  .profile-user .user-info {
    display: flex;
    align-items: center;
    gap: 1.5rem; }
    .profile-user .user-info-noti {
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer;
      position: relative; }
      .profile-user .user-info-noti::before {
        content: "";
        position: absolute;
        background-color: #f0894d;
        width: 0.6rem;
        display: block;
        height: 0.6rem;
        z-index: 12;
        cursor: pointer;
        transform: translate(1.5rem, 0.5rem);
        border-radius: 50%; }
      .profile-user .user-info-noti ion-icon {
        width: 2.4rem;
        height: 2.4rem; }
    .profile-user .user-info-u {
      display: flex;
      align-items: center;
      gap: .6rem;
      font-family: inherit; }
      .profile-user .user-info-u-img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer; }
      .profile-user .user-info-u-name {
        display: block; }
        .profile-user .user-info-u-name-title {
          color: rgba(128, 128, 128, 0.6);
          font-size: 1.2rem;
          font-weight: 500;
          margin-bottom: .5rem; }
        .profile-user .user-info-u-name-n {
          font-size: 1.5rem;
          font-weight: 700; }
    .profile-user .user-info-drop {
      min-width: 2.4rem;
      height: 2.4rem;
      background-color: #fce6bd;
      border-radius: 25px;
      cursor: pointer; }
      .profile-user .user-info-drop-icon {
        transform: translateY(1px);
        min-width: 1.4rem;
        height: 1.4rem;
        font-weight: 700;
        color: #f0894d; }

.part-4 {
  height: calc(100vh - 12rem);
  padding: 3.2rem;
  overflow: visible;
  overflow-y: scroll;
  box-shadow: -0.8rem 0.2rem 0.8rem rgba(0, 0, 0, 0.03); }
  .part-4::-webkit-scrollbar {
    width: 0; }
  @media only screen and (max-width: 78em) {
    .part-4 {
      padding: 2.6rem; } }
  @media only screen and (max-width: 57.5em) {
    .part-4 {
      height: fit-content; } }
  @media only screen and (max-width: 32em) {
    .part-4 {
      padding: 2rem; } }

.member-title {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem; }

.member-gallery {
  display: flex;
  align-items: center;
  margin-bottom: 3.2rem;
  gap: 5%; }
  @media only screen and (max-width: 87.25em) {
    .member-gallery {
      gap: 4%; } }
  @media only screen and (max-width: 78em) {
    .member-gallery {
      gap: 4%; } }
  @media only screen and (max-width: 72em) {
    .member-gallery {
      gap: 2.5%; } }
  @media only screen and (max-width: 57.5em) {
    .member-gallery {
      gap: 2%; } }
  .member-gallery-img {
    width: 6rem;
    height: 6rem;
    font-weight: 500;
    font-size: 1.6rem;
    border-radius: 50px;
    object-fit: cover;
    cursor: pointer; }
    @media only screen and (max-width: 78em) {
      .member-gallery-img {
        width: 5.2rem;
        height: 5.2rem; } }
    .member-gallery-img:nth-child(3) {
      min-width: 6.2rem;
      color: #f0894d;
      background-color: #fce6bd; }
      @media only screen and (max-width: 78em) {
        .member-gallery-img:nth-child(3) {
          min-width: 5.4rem; } }
    .member-gallery-img:last-child {
      width: 3.2rem;
      height: 3.2rem;
      color: #f0894d;
      border: 2px dashed;
      background-color: #fff1d7; }

.member-time {
  padding: 2.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.08);
  margin-bottom: 3.2rem; }
  .member-time-info p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .5rem; }
  .member-time-info h2 {
    font-size: 1.8rem; }

.member-task-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.8rem; }
  .member-task-head-h1 {
    font-size: 1.8rem;
    font-weight: 700; }
  .member-task-head-a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #f0894d;
    border-bottom: 2px solid #fff; }

.member-task {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  margin-bottom: 2.4rem; }
  .member-task-item {
    cursor: pointer;
    height: 18rem;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.07);
    transition: all 0.3s; }
    .member-task-item:first-child {
      background-color: #f2ece2;
      position: relative;
      transition: all 0.3s; }
      .member-task-item:first-child ion-icon {
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        bottom: 3rem;
        right: 3rem; }
    .member-task-item:last-child {
      color: #fff;
      background-color: #f0894d; }
    .member-task-item:hover {
      transform: scale(1.03); }
  .member-task-check {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
    align-items: center;
    gap: 0.5rem; }
    .member-task-check svg {
      width: .8rem;
      height: .8rem;
      fill: #f0894d; }
    .member-task-check .container-check {
      display: flex;
      position: relative;
      cursor: pointer;
      font-size: 1.2rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none; }
      .member-task-check .container-check p {
        margin-right: 2rem;
        font-weight: 500;
        font-size: 1.2rem; }
      .member-task-check .container-check input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0; }
      .member-task-check .container-check input[type="checkbox"] {
        width: 1.5rem;
        height: 1.5rem;
        border: none;
        box-shadow: none;
        background-color: #f0894d; }
      .member-task-check .container-check input[type="checkbox"]:checked {
        background-color: #f0894d; }
      .member-task-check .container-check .checkmark {
        position: absolute;
        top: 0;
        right: 0;
        height: 1.5rem;
        width: 1.5rem;
        border: 1px solid #f0894d;
        border-radius: 3px; }
        .member-task-check .container-check .checkmark-dark {
          border-color: #000; }
        .member-task-check .container-check .checkmark::after {
          content: "";
          position: absolute;
          display: none;
          left: 0.4rem;
          top: 0;
          width: 0.6rem;
          height: 1rem;
          border: solid white;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg); }
      .member-task-check .container-check input:checked ~ .checkmark {
        background-color: #f0894d; }
        .member-task-check .container-check input:checked ~ .checkmark::after {
          display: block; }
      .member-task-check .container-check input:checked ~ .checkmark-dark {
        background-color: #000; }
  .member-task-title {
    font-size: 1.8rem;
    font-weight: 500; }
