.project-add-profile{
    padding: 2.8rem 3.2rem 0;
    box-shadow: -0.8rem -.2rem 0.8rem rgba(0, 0, 0, 0.03);

    @media only screen and (max-width: $screen-tab-port-min) {
        padding-top: 2.2rem;
    }

    @media only screen and (max-width: $screen-phone) {
        padding: 2rem;
        padding: 2rem 2rem 1rem;
    }

    .menu-icon{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 3.5rem;
        position: relative;
        margin-bottom: 1rem;

        & ion-icon{
            width: 6rem;
            height: 100%;
            fill: $color-orange;
            opacity: .7;
            cursor: pointer;

            position: absolute;
            right: -1.5rem;
        }
    }
}

.profile-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-btn{
        font-family: inherit;
        cursor: pointer;
        height: fit-content;
        background-color: #f0894d;
        color: #fff;
        font-weight: 500;
        font-size: 1.4rem;
        border-radius: 25px;
        padding: 1.2rem 3.2rem;
        outline: none;
        border: none;
    }

    .user-info{
        display: flex;
        align-items: center;
        gap: 1.5rem;


        &-noti{
            display: block;
            width: 2.4rem;
            height: 2.4rem;
            cursor: pointer;
            position: relative;
            
            &::before{
                content: "";
                position: absolute;
                background-color: #f0894d;
                width: 0.6rem;
                display: block;
                height: 0.6rem;
                z-index: 12;
                cursor: pointer;
                transform: translate(1.5rem, 0.5rem);
                border-radius: 50%;
            }

            & ion-icon{
                width: 2.4rem;
                height: 2.4rem;
            }
        }

        &-u{
            display: flex;
            align-items: center;
            gap: .6rem;
            font-family: inherit;

            &-img{
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }

            &-name{
                display: block;

                &-title{
                    color: rgba(128, 128, 128, 0.6);
                    font-size: 1.2rem;
                    font-weight: 500;
                    margin-bottom: .5rem;
                }

                &-n{
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }
        }

        &-drop{
            min-width: 2.4rem;
            height: 2.4rem;
            background-color: rgb(252, 230, 189);
            border-radius: 25px;
            cursor: pointer;
    
            &-icon{
                transform: translateY(1px);
                min-width: 1.4rem;
                height: 1.4rem;
                font-weight: 700;
                color: rgb(240, 137, 77);
            }
        }
    }

}

.part-4{
    height: calc(100vh - 12rem);
    padding: 3.2rem;
    overflow: visible;
    overflow-y: scroll;
    box-shadow: -0.8rem .2rem 0.8rem rgba(0, 0, 0, 0.03);

    &::-webkit-scrollbar{
        width: 0;
    }

    @media only screen and (max-width: $screen-tab-land) {
        padding: 2.6rem;
    }
    @media only screen and (max-width: $screen-tab-port-min) {
        height: fit-content;
    }
    @media only screen and (max-width: $screen-phone) {
        padding: 2rem;
    }
}

.member-title{
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}


.member-gallery{
    display: flex;
    align-items: center;
    margin-bottom: 3.2rem;
    gap: 5%;

    @media only screen and (max-width: $screen-desktop) {
        gap: 4%;
    }
    @media only screen and (max-width: $screen-tab-land) {
        gap: 4%;
    }
    @media only screen and (max-width: $screen-tab-land-min) {
        gap: 2.5%;
    }
    
    @media only screen and (max-width: $screen-tab-port-min) {
        gap: 2%;
    }

    &-img{
        width: 6rem;
        height: 6rem;
        font-weight: 500;
        font-size: 1.6rem;
        border-radius: 50px;
        object-fit: cover;
        cursor: pointer;

        @media only screen and (max-width: $screen-tab-land) {
            width: 5.2rem;
            height: 5.2rem;
        }

        &:nth-child(3){
            min-width: 6.2rem;
            color: $color-orange;
            background-color: $color-orange-light;

            @media only screen and (max-width: $screen-tab-land) {
                min-width: 5.4rem;
            }
        }

        &:last-child{
            width: 3.2rem;
            height: 3.2rem;
            color: $color-orange;
            border: 2px dashed;
            background-color: $color-light;
        }
    }
}

.member-time{
    padding: 2.8rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 3rem rgba(0,0,0,0.08);
    margin-bottom:  3.2rem;

    &-info p{
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: .5rem;
    }

    &-info h2{
        font-size: 1.8rem;
    }
}

.member-task-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.8rem;

    &-h1{
        font-size: 1.8rem;
        font-weight: 700;
    }

    &-a{
        text-decoration: none;
        font-size: 1.6rem;
        color: $color-orange;
        border-bottom: 2px solid #fff;
    }
}

.member-task{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
    margin-bottom: 2.4rem;

    &-item{
        cursor: pointer;
        height: 18rem;
        padding: 2rem;
        border-radius: 15px;
        box-shadow: 0 1rem 3rem rgba(0,0,0,0.07);
        transition: all 0.3s;

        &:first-child{
            background-color: #f2ece2;
            position: relative;
            transition: all 0.3s;

            & ion-icon{
                width: 2.4rem;
                height: 2.4rem;
                position: absolute;
                bottom: 3rem;
                right: 3rem;
            }
        }

        &:last-child{
            color: #fff;
            background-color: $color-orange;
        }

        &:hover{
            transform: scale(1.03);
        }
    }

    &-check{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 2rem;
        align-items: center;
        gap: 0.5rem;

        & svg{
            width: .8rem;
            height: .8rem;
            fill: $color-orange;
        }

        .container-check {
            display: flex;
            position: relative;
            cursor: pointer;
            font-size: 1.2rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;

            & p{
                margin-right: 2rem;
                font-weight: 500;
                font-size: 1.2rem;
            }

            & input{
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            & input[type="checkbox"]{
                width: 1.5rem;
                height: 1.5rem;
                border: none;
                box-shadow: none;
                background-color: $color-orange;
            }

            & input[type="checkbox"]:checked{
                background-color: $color-orange;
            }

            .checkmark {
                position: absolute;
                top: 0;
                right: 0;
                height: 1.5rem;
                width: 1.5rem;
                border: 1px solid $color-orange;
                border-radius: 3px;

                &-dark{
                    border-color: #000;
                }

                &::after{
                    content: "";
                    position: absolute;
                    display: none;

                    left: 0.4rem;
                    top: 0;
                    width: 0.6rem;
                    height: 1rem;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }
            }

            & input:checked ~ .checkmark{
                background-color: $color-orange;

                &::after{
                    display: block;
                }
            }

            & input:checked ~ .checkmark-dark{
                background-color: #000;
            }

        }
    }

    &-title{
        font-size: 1.8rem;
        font-weight: 500;
    }


}